OPENAI_API_KEY=XXXXXXXX
VERCEL_URL=XXXXXXXXX

# Then get your Google Gemini API Key here: https://aistudio.google.com/app/apikey
GOOGLE_GENERATIVE_AI_API_KEY=XXXXXXXXX

# Generate a random secret: https://generate-secret.vercel.app/32 or `openssl rand -base64 32`
AUTH_SECRET=XXXXXXXXX

# mongodb://0.0.0.0:27017/gem-chat || mongodb://localhost:27017/gem-chat
MONGODB_URI=mongodb://0.0.0.0:27017/gem-chat
NODE_ENV=development